.signIn-button {
  margin-left: 6px;
  border-radius: 20px;
  border: none;
  background-color: rgb(26, 181, 26);
  color: #fff;
  font-weight: 800;
  width: 300px;
  height: 40px;
}
.signIn-button:hover {
  background-color: rgb(25, 159, 25);
}
.signIn-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
}
.register-link-body {
  height: 100vh;
  background-color: #3e9577;
  opacity: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register-button {
  border-radius: 20px;
  border: none;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 800;
  width: 200px;
  height: 50px;
}
.register-button:hover {
  background-color: #3b8d70;
  border: 1px solid #e6e6e6;
}
.register-title {
  font-weight: 800;
  color: #fff;
}
.register-text {
  opacity: 75%;
  color: #fff;
}
.logoDexSignIn {
  margin-left: 10px;
  width: 300px;
  height: 300px;
}
.signIn-password-text {
  margin-top: 10px;
}
@media (max-width: 768px) {
  .logoDexSignIn {
    margin-left: 45px;
    margin-top: 50px;
  }
  .signIn-password-text {
    margin-left: 20px;
  }
  .signIn-user-text {
    margin-left: 20px;
  }
  .forgot-text {
    margin-left: 25px;
  }
  .signIn-button {
    margin-left: 60px;
    width: 260px;
  }
}
.mobile-register-link {
  display: none;
  margin-top: 50px;
  margin-left: 100px;
}
@media (max-width: 768px) {
  .mobile-register-link {
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
  }
  .register-link-body {
    display: none;
  }
}
