.navigationTab {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-size: 14px;
}
.navigationTab ul {
  display: flex;
}
.navigationTab li {
  display: flex;
  padding: 20px;
}

@media (max-width: 990px) {
  .navigationTab li {
    padding: 8px;
  }
  .navigationTab {
    width: 100%;
    font-size: 12px;
  }
}
